{% load static %}
<nav class="bg-white mt-4 pb-3">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between items-center h-20">
            <!-- logo -->
            <div class="flex-shrink-0 flex items-center">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/logo.svg' %}" alt="Polda Kepri Fun Run" class="h-12 w-auto" />
                </a>
            </div>
            <!-- hamburger-->
            <div class="sm:hidden">
                <button id="menu-toggle" class="text-gray-900 focus:outline-none">
                    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
            <!-- nav -->
            <div id="menu" class="hidden sm:flex space-x-4">
                <a href="{% url 'index' %}"
                    class="{% if request.resolver_match.url_name == 'index' %}text-blue-600 underline underline-offset-8 decoration-2{% else %}text-gray-900 hover:underline underline-offset-8 decoration-blue-600 decoration-2{% endif %} px-3 py-2 text-lg font-bold">
                    HOME
                </a>
                <a href="{% url 'bib' %}"
                    class="{% if request.resolver_match.url_name == 'bib' %}text-blue-600 underline underline-offset-8 decoration-2{% else %}text-gray-900 hover:underline underline-offset-8 decoration-blue-600 decoration-2{% endif %} px-3 py-2 text-lg font-bold">
                    DOWNLOAD BIB
                </a>
                <a href="{% url 'information' %}"
                    class="{% if request.resolver_match.url_name == 'information' %}text-blue-600 underline underline-offset-8 decoration-2{% else %}text-gray-900 hover:underline underline-offset-8 decoration-blue-600 decoration-2{% endif %} px-3 py-2 text-lg font-bold">
                    INFORMASI
                </a>
                <a href="{% url 'gallery' %}"
                    class="{% if request.resolver_match.url_name == 'gallery' %}text-blue-600 underline underline-offset-8 decoration-2{% else %}text-gray-900 hover:underline underline-offset-8 decoration-blue-600 decoration-2{% endif %} px-3 py-2 text-lg font-bold">
                    GALERI
                </a>
                <div class="relative group">
                    <button class="bg-black text-white px-4 py-3 text-lg font-bold">
                        Pilih Bahasa
                    </button>
                    <!-- dropdown -->
                    <div class="absolute right-0 hidden group-hover:block mt-1 w-48 bg-gray-100 rounded-md shadow-lg">
                        <a href="#" class="block px-4 py-2 text-gray-900 hover:bg-gray-200">Bahasa Indonesia</a>
                        <a href="#" class="block px-4 py-2 text-gray-900 hover:bg-gray-200">Inggris</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile -->
        <div id="mobile-menu" class="hidden sm:hidden flex flex-col space-y-2 mt-4">
            <a href="{% url 'index' %}"
                class="{% if request.resolver_match.url_name == 'index' %}text-blue-600 underline underline-offset-8 decoration-2{% else %}text-gray-900 hover:underline underline-offset-8 decoration-blue-600 decoration-2{% endif %} px-3 py-2 text-lg font-bold">
                HOME
            </a>
            <a href="{% url 'bib' %}"
                class="{% if request.resolver_match.url_name == 'bib' %}text-blue-600 underline underline-offset-8 decoration-2{% else %}text-gray-900 hover:underline underline-offset-8 decoration-blue-600 decoration-2{% endif %} px-3 py-2 text-lg font-bold">
                DOWNLOAD BIB
            </a>
            <a href="{% url 'information' %}"
                class="{% if request.resolver_match.url_name == 'information' %}text-blue-600 underline underline-offset-8 decoration-2{% else %}text-gray-900 hover:underline underline-offset-8 decoration-blue-600 decoration-2{% endif %} px-3 py-2 text-lg font-bold">
                INFORMASI
            </a>
            <a href="{% url 'gallery' %}"
                class="{% if request.resolver_match.url_name == 'gallery' %}text-blue-600 underline underline-offset-8 decoration-2{% else %}text-gray-900 hover:underline underline-offset-8 decoration-blue-600 decoration-2{% endif %} px-3 py-2 text-lg font-bold">
                GALERI
            </a>
            <div class="relative">
                <button class="bg-black text-white px-4 py-3 text-lg font-bold w-full">
                    Pilih Bahasa
                </button>
                <div class="mt-1 w-full bg-gray-100 rounded-md shadow-lg">
                    <a href="#" class="block px-4 py-2 text-gray-900 hover:bg-gray-200">Bahasa Indonesia</a>
                    <a href="#" class="block px-4 py-2 text-gray-900 hover:bg-gray-200">Inggris</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    menuToggle.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
    });
</script>
