{% load static %}

<div class="bg-white py-12">
    <h1 class="text-black text-center text-3xl font-[900] mb-12">SPONSOR</h1>
    <div class="flex justify-center items-center gap-16 flex-wrap px-8">
        <img src="{% static 'images/pocari.jpeg' %}" alt="Pocari" class="h-32 w-auto" />
        <img src="{% static 'images/sanford.jpeg' %}" alt="Sanford" class="h-32 w-auto" />
        <img src="{% static 'images/plnbatam.png' %}" alt="PLN Batam" class="h-32 w-auto" />
        <img src="{% static 'images/ptamsyar.png' %}" alt="PT Amsyar" class="h-32 w-auto" />
        <img src="{% static 'images/sss.png' %}" alt="SSS" class="h-32 w-auto" />
    </div>
</div>
