{% load static %} 
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        {% block title %}
            Polda Kepri Fun Run
        {% endblock %}
    </title>
    {% include 'snippets/css.html' %}
    {% include 'snippets/js.html' %}
</head>

<body>
    {% include 'snippets/navbar.html' %}

    {% block content %}

    {% endblock %}

    {% include 'snippets/footer.html' %}
</body>

</html>
